@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero,
.info,
.quote,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container,
.info,
.quote,
.cta,
.footer {
  padding: 0% 15%;
}

/* Header Section */
.header,
.hero,
.info {
  padding-bottom: 5%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.container {
  display: flex;
  align-items: center;
}

.logo,
.hero-text {
  width: 50%;
}

.nav-links,
.hero-image {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  text-decoration: none;
  color: #f9faf8;
}

/* Hero Section */
.hero,
.header,
.footer {
  background-color: #1f2937;
}

.hero-text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.nav-links,
.container p,
.cta-text p,
.footer {
  font-size: 18px;
  color: #f9faf8;
  font-weight: lighter;
}

.hero-image {
  background-color: #5a616a;
  height: 30vh;
  width: 50%;
  align-items: center;
  text-align: center;
  margin: 15px;
}

/* Info Section */
.info-cards {
  display: flex;
  gap: 30px;
  padding: 0 20px;
}

.card-image {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* Quote Section */
.quote {
  margin: 0px;
  background-color: #e5e7eb;
}

.quote-container {
  margin: 10%;
}

.quote-text,
.quote-author,
.hero-text h1,
.hero-text p {
  margin: 0;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

/* Call to Action Section */
.cta-container {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  border-radius: 5px;
  color: #ffffff;
  margin: 10% 0%;
}

.cta-text {
  width: 60%;
  padding: 5% 0% 5% 10%;
}

.cta-btn {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

button {
  border: none;
  background-color: #3882f6;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 20px;
}

.cta-btn button {
  border: 1px solid #ffffff;
}
/* Footer Section */
.footer {
  padding: 2% 0%;
}
